/* Universal styles */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


/* Header section styles */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    background-image: url(../images/donation7.jpg);
    background-size: 100% auto;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.317);
    /* background-color: rgba(0, 0, 0, 0.829); */
    background-repeat: no-repeat;
    background-position: center center;
    padding: 200px 100px;
    color: white;
}

.banner{
    width: 700px;
}
.banner h1{
    font-size: 45px;
    font-weight: 800;
}

/* Main section styles */


/* Footer section styles */